<div class="container-fluid">
    <div class="row">
        <div class="col-12">
               <br>
                  <br>
            <h1 class="titleText">Hungry?</h1>
            <br>
        </div>
    </div>
  <div class="row">
        <div class="col-12">
            <center>   <img src = "/assets/images/burgerIcon.jpg" class="icon"></center>


       <br>
       <br>
        </div>
    </div> 



        <div class="row">
        <div class="col-12 addBurger">
            <h3 class="secondHeading">Add a burger!</h3>
            <div class="centerSubmit">
                <form class="create-update-form" action="/insertOne" method="POST">
                    <div class="form-group">
                        <textarea type="text" name="burger_name"></textarea><br>
                        <button class="btn btn-warning" type="submit" >add da burger!
                            </button>
                    </div>
            </div>
            </form>
        </div>
    </div>
    <div class="row">
        <div class="col-6 burgers">
            <h3 class="secondHeading">Featured Burgers </h3>
            <br>
            <ul>
                {{#each burgers}}
                {{#unless this.devoured}}
                <div class="showBurger">
                    <p>
                        {{this.burger_name}}</p>
                    <form action="/updateOne/{{this.id}}" method="POST">
                        <input type="hidden" name="devoured" value="1">
                        <button type="submit" class="btn btn-warning">eat da burger!</button>
                    </form>
                    <br>
                </div>
                {{/unless}}
                {{/each}}
            </ul>
        </div>
        <div class="col-6 devoured">
            <h3 class="secondHeading">Burgers devoured</h3>
            <br>
            <ul>
                {{#each burgers}}
                {{#if this.devoured}}
                <div class="devourBurger">
                <p>
                    {{this.burger_name}}</p>
                <form action="/deleteOne/{{this.id}}" method="POST">
                    <button type="submit" class="btn btn-warning">delete da burger! </button>
                </form>
                {{/if}}
                {{/each}}
            </ul>
            </div>
        </div>
    </div>
    <hr>

</div>